In [1]:
import pandas as pd

In [102]:
df=pd.read_csv("D:/desktop files/datasets/Cars93.csv")

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  93 non-null     int64
 1   Manufacturer        93 non-null     object
 2   Model               93 non-null     object
 3   Type                93 non-null     object
 4   Min.Price           93 non-null     float64
 5   Price               93 non-null     float64
 6   Max.Price           93 non-null     float64
 7   MPG.city            93 non-null     int64
 8   MPG.highway         93 non-null     int64
 9   AirBags             89 non-null     object
 10  DriveTrain          93 non-null     object
 11  Cylinders           93 non-null     object
 12  EngineSize          93 non-null     float64
 13  Horsepower          93 non-null     int64
 14  RPM                 93 non-null     int64
 15  Rev.per.mile        93 non-null     int64
 16  Man.trans.avail     93 non-null     object
 17  Fuel.tank.capacity  93 non-null     float64
 18  Passengers          93 non-null     int64
 19  Length              93 non-null     int64
 20  Wheelbase           93 non-null     int64
 21  Width               93 non-null     int64
 22  Turn.circle         93 non-null     int64
 23  Rear.seat.room      91 non-null     float64
 24  Luggage.room        82 non-null     float64
 25  Weight              93 non-null     int64
 26  Origin              93 non-null     object
 27  Make                93 non-null     object
dtypes: float64(7), int64(12), object(9)
memory usage: 20.5+ KB

In [126]:
X=df[['MPG.highway','EngineSize','Horsepower','Weight','Max.Price']]
Y=df[['Price']]

In [127]:
X.isna().sum()

MPG.highway    0
EngineSize     0
Horsepower     0
Weight         0
Max.Price      0
dtype: int64

In [128]:
from sklearn.model_selection import train_test_split

In [129]:
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=42)

In [130]:
from sklearn.linear_model import LinearRegression

In [131]:
lr=LinearRegression()

In [132]:
model=lr.fit(xtrain,ytrain)

In [133]:
tr_pred=model.predict(xtrain)
ts_pred=model.predict(xtest)

In [134]:
from sklearn.metrics import r2_score

In [135]:
tr_score=r2_score(ytrain,tr_pred)
ts_score=r2_score(ytest,ts_pred)

In [136]:
print(tr_score)
print(ts_score)

0.9712389532044876
0.9798069795756235